<div class="container">
  <h3>{{title | titlecase}}</h3>
  <div class="army-container">
    <div *ngFor="let troop of army?.troops; let idx = index" class="army">
      <app-troop [troop]="troop" [troopNo]="idx" (newPlanet)="selectPlanet($event, idx)" (newVehicle)="selectVehicle($event, idx)"></app-troop>
  </div>
  </div>
  <h3 class="timeText">{{totalTimeText }} : {{army.timeTaken }}</h3>
  <button (click)="findFalcone()" [disabled]="!isValidArmy()" class="btn">{{findFalconeActionText}}</button>
</div>
