<div class="container">
  <h4>{{ title | titlecase }} {{ troopNo + 1 }}</h4>
  <form>
    <div class="planetContainer">
      <input
        class="planetInput"
        [class.isInvalid]="planet.touched && !planet.valid"
        [attr.list]="'planets' + (troopNo + 1)"
        ngModel
        [name]="'planets' + (troopNo + 1)"
        #planet="ngModel"
        placeholder="Select Planet ..."
        [appValidPlanet]="troop.availablePlanets"
        (change)="selectPlanet(planet.valid, planet.value)"
        required
      />
      <datalist [id]="'planets' + (troopNo + 1)">
        <ng-container
          *ngFor="
            let planet of troop.availablePlanets | sort: 'name';
            let idx = index
          "
        >
          <option *ngIf="planet.canBeSelected" [value]="planet.name"></option
        ></ng-container>
      </datalist>
      <br />
      <span
        class="planetErr"
        *ngIf="planet.touched && planet.errors && planet.errors.invalidPlanet"
        >*{{ invalidPlanetErr }}</span
      >
      <span
        class="planetErr"
        *ngIf="planet.touched && planet.errors && planet.errors.required"
        >*{{ emptyPlanetErr }}</span
      >
    </div>
    <div *ngIf="planet.valid" class="vehiclesContainer">
      <fieldset>
        <legend>{{ vehcInptitle | titlecase }}</legend>
        <div
          class="vehicleContainer"
          *ngFor="let vehicle of troop.availableVehicles; let vechNo = index"
        >
          <input
            type="radio"
            [disabled]="
              !vehicle.canBeSelected(troop.selectedPlanet.distance) &&
              !vehicleSelection.checked
            "
            [name]="vehicleForTroop + (troopNo + 1)"
            [id]="'vehicleNo' + (vechNo + 1) + 'forTroop' + (troopNo + 1)"
            #vehicleSelection
            [value]="vehicle.name"
            (change)="selectVehicle(vechNo)"
          />
          <label [for]="'vehicleNo' + (vechNo + 1) + 'forTroop' + (troopNo + 1)"
            >{{ vehicle.name }} ({{ vehicle.totalNo }})</label
          >
        </div>
      </fieldset>
    </div>
  </form>
</div>
