.container {
    padding: 0;
    .planetInput {
        background: transparent;
        border: 0.7px solid white;
        border-radius: 2rem;
        text-align: center;
        height: 2rem;
        padding: 0.2rem;
        outline: none;
        color: white;
      }
}